/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Estilos para los enlaces */
a {
    text-decoration: none;
    color: #0072c6;
}

/* Estilos comunes para el contenedor principal */
.container {
    background: #b3d0e8; /* Celeste más claro */
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Se ha reducido el ancho del contenedor */
    padding: 30px;
}

/* Estilos para el encabezado h2 */
h2 {
    color: #006db0; /* Azul más oscuro */
    text-align: center;
}

/* Estilos para los campos de entrada */
.form-group {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 8px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    padding: 12px;
    border: 1px solid #95b9d8; /* Celeste más claro */
    border-radius: 5px;
    margin: 8px 0;
    width: calc(100% - 24px); /* Ajuste para centrar el contenido */
}

/* Estilos para los botones y enlaces */
input[type="submit"], .register-link a {
    background-color: #006db0; /* Azul más oscuro */
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

/* Estilos para los mensajes flash */
.flash-messages {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilos para mensajes flash de éxito */
.flash-success {
    color: #4CAF50;
}

/* Estilos para mensajes flash de peligro */
.flash-danger {
    color: #F44336;
}

/* Estilos para la página "Iniciar Sesión" y "Registro" */
body.login, body.registro {
    background: linear-gradient(to bottom, #b3d0e8, #7fa9d8); /* Celeste más claro */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para el encabezado de usuario */
.user-info {
    background: #006db0; /* Azul más oscuro */
    color: #fff;
    padding: 15px;
    text-align: center;
}
/* Estilos para la página "Registro de Envíos" */
body.registro_envios {
    background: linear-gradient(to bottom, #b3d0e8, #7fa9d8);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos específicos para el formulario de registro de envíos */
.form-registro-envios {
    background: #b3d0e8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 30px;
}

.form-registro-envios h2 {
    color: #006db0;
}

.form-registro-envios label {
    color: #006db0;
}

.form-registro-envios input[type="text"],
.form-registro-envios textarea {
    padding: 12px;
    border: 1px solid #95b9d8;
    border-radius: 5px;
    margin: 8px 0;
    width: calc(100% - 24px);
}

.form-registro-envios input[type="submit"] {
    background-color: #006db0;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 100%;
}
