<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros de Envíos</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<body>
    <div class="container">
        <header class="header">
            <div class="user-info">
                <span>Bienvenido, {{ nombre }}</span>
            </div>
        </header>
        <nav class="nav-menu">
            <ul>

                <a href="{{ url_for('profile') }}">Volver al  Inicio</a>
                <li><a href="{{ url_for('info') }}">Registros de Envíos</a></li>
                <li><a href="{{ url_for('login') }}">Salir</a></li>
            </ul>
        </nav>
        <main class="content">
            <h1>Registros de Envíos</h1>
            <table>
                <thead>
                    <tr>
                        <th>Transportista</th>
                        <th>Fecha de Envío</th>
                        <th>Información de Envío</th>
                    </tr>
                </thead>
                <tbody>
                    {% for envio in envios %}
                    <tr>
                        <td>{{ envio.transportista }}</td>
                        <td>{{ envio.fecha_envio }}</td>
                        <td>{{ envio.info_envio }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</body>
</html>
