<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros de Envíos</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
    <body>
        <h1>Historial de Envíos</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    
        <table border="1">
            <tr>
                <th>Fecha</th>
                <th>Descripción</th>
            </tr>
            {% for envio in envios %}
                <tr>
                    <td>{{ envio.fecha }}</td>
                    <td>{{ envio.descripcion }}</td>
                </tr>
            {% endfor %}
        </table>
    
        <a href="{{ url_for('registro_envio') }}">Registrar Nuevo Envío</a>
    </body>
    </html>
    